html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    width: 47%;
    aspect-ratio: 1/0.5;
}

#title {
    font-size: 30px;
}

#description {
    font-size: 20px;
}

#arcmain {
    width: 100%;
    height: 60%;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#top {
    font-size: 20px;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(127, 212, 254);
}

#arcdiv {
    width: 100%;
    height: 50%;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
}

#maindiv {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#tag {
    width: 45%;
    height: 40%;
    font-size: 20px;
}

#n {
    width: 45%;
    height: 50%;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#result {
    width: 96%;
    margin-left: 4%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

#text {
    width: 50%;
    height: 100%;
}

#real-result {
    width: 50%;
    height: 100%;
}